# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled files
*.bin
*.map

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.elf

# Debug information files
*.dwo

# IDF build files
build/
sdkconfig.old
managed_components/

# Editor
.vscode/
.idea/

# Logs
*.log

# PlatformIO build folders
.pio/
build/
lib_deps.ini